backend:
  name: git-gateway
  branch: master

site_url: https://soft-swan-729016.netlify.app
display_url: https://soft-swan-729016.netlify.app

media_folder: "assets/images/uploads"
public_folder: "/assets/images/uploads"

collections:
  - name: "posts"
    label: "Posts"
    folder: "_posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Thumbnail Image", name: "image", widget: "image", required: false } # 이미지 업로드 칸 추가
      - { label: "Description", name: "description", widget: "string" } # 요약 글 추가
      - { label: "Body", name: "body", widget: "markdown" }
